.itemSetter {
    min-width: 250px;
    padding: 10px 15px;
    border: 1px solid #eee;
    border-radius: 8px;
    background-color: #fafafa;

    font-family: "Nunito", Arial, Helvetica, sans-serif;
    font-size: 16px;
  }